@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');

//font stack
$brandFont: 'Chakra Petch', sans-serif;

//colors
$brandColorHeaders: #184f3b;
$brandColorBackground: #c0e2c7;
$brandColorButton: #22624e;

//borderradius
$borderRadius:5px;
